<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667155882780-chj7ef8p8s0adln1sed0q987p2fg9qvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667155882780-chj7ef8p8s0adln1sed0q987p2fg9qvr</string>
	<key>API_KEY</key>
	<string>AIzaSyBxuMZ10ZECtjCUopN7onV29FGRETlczIA</string>
	<key>GCM_SENDER_ID</key>
	<string>667155882780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dev.FindAR</string>
	<key>PROJECT_ID</key>
	<string>findar-4a4c0</string>
	<key>STORAGE_BUCKET</key>
	<string>findar-4a4c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667155882780:ios:5b62f44d9292b0da4490d9</string>
</dict>
</plist>